/*

!/.git*

# Directories
!/papers/
/papers/*
!/py/
/py/*
!/uni-hws/
/uni-hws/*

# Unignore
!/**/README.org
!/**/LICENSE
!/**/*.ipynb
!/**/*.org
!/**/*.tex
!/**/*.pdf
!/**/*.c
!/**/*.cs
!/**/*.py

# Ignore
/**/*.out
/**/.ipynb_checkpoints
