*

!/.git*

# Directories
!/papers/
/papers/*
!/py/
/py/*
!/uni-hws/
/uni-hws/*

# Unignore
!*/README.org
!*/LICENSE
!*/*.c
!*/*.cs
!*.ipynb
!*.org
!*.pdf
!*.py
!*.tex

# Ignore
*/*.out
*/.ipynb_checkpoints
